html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
}

#task_entry_area {
    margin-left: 25%;
    padding-top: 25px;
    width: 50%;
}

#task_entry_area textarea {
    width: 100%;
}

label {
    display: inline;
}