<!DOCTYPE html>
<html lang="en">

    <head>
        <!--// TODO: Investigate serving the static content without having to put the full path.  You should be able to key off the file extension during routing.-->
        <script src="assets/javascript/javascript.js"></script>
        <link rel="stylesheet" href="assets/css/home.css">
        <title>Work Life Balance</title>
    </head>

    <body>
        <div id="task_entry_area">
            <form action="">
                <label for="task_entry">Add task:</label><br>
                <textarea id="task_entry" rows="3" autofocus></textarea><br>
                <input type="submit" value="Save">
            </form>
        </div>

    </body>

</html>