<!DOCTYPE html>
<html lang="en">

    <head>
        <!--// TODO: Investigate serving the static content without having to put the full path.  You should be able to key off the file extension during routing.-->
        <script src="assets/javascript/javascript.js"></script>
        <title>Work Life Balance</title>
    </head>

    <body>
        Are you balanced?
    </body>

</html>